<%= form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :android_version %><br />
    <%= f.text_field :android_version %>
  </div>
  <div class="field">
    <%= f.label :ruboto_platform_version %><br />
    <%= f.text_field :ruboto_platform_version %>
  </div>
  <div class="field">
    <%= f.label :ruboto_app_version %><br />
    <%= f.text_field :ruboto_app_version %>
  </div>
  <div class="field">
    <%= f.label :app_version %><br />
    <%= f.text_field :app_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
