<h1>Listing startups</h1>

<table>
  <tr>
    <th>Time</th></th>
    <th>Package</th>
    <th>Package version</th>
    <th>With image</th>
    <th>Startup time</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Android version</th>
    <th>Ruboto platform version</th>
    <th>Ruboto app version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @startups.each do |startup| %>
  <tr>
    <td><%= startup.created_at.strftime '%Y-%m-%d %H:%M' %></td>
    <td><%= startup.package %></td>
    <td><%= startup.package_version %></td>
    <td><%= startup.with_image %></td>
    <td><%= startup.startup_time %> ms</td>
    <td><%= startup.manufacturer %></td>
    <td><%= startup.model %></td>
    <td><%= startup.android_version %></td>
    <td><%= startup.ruboto_platform_version %></td>
    <td><%= startup.ruboto_app_version %></td>
    <td><%= link_to 'Show', startup %></td>
    <td><%= link_to 'Edit', edit_startup_path(startup) %></td>
    <td><%= link_to 'Destroy', startup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Startup', new_startup_path %>
