<p id="notice"><%= notice %></p>

<p>
  <b>Package:</b>
  <%= @measurement.package %>
</p>

<p>
  <b>Package version:</b>
  <%= @measurement.package_version %>
</p>

<p>
  <b>Startup time:</b>
  <%= @measurement.startup_time %> ms
</p>

<p>
  <b>Manufacturer:</b>
  <%= @measurement.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @measurement.model %>
</p>

<p>
  <b>Android version:</b>
  <%= @measurement.android_version %>
</p>

<p>
  <b>Ruboto platform version:</b>
  <%= @measurement.ruboto_platform_version %>
</p>

<p>
  <b>Ruboto app version:</b>
  <%= @measurement.ruboto_app_version %>
</p>


<%= link_to 'Edit', edit_startup_path(@measurement) %> |
<%= link_to 'Back', startups_path %>
