<h1>Listing all startup records</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Package</th>
    <th align="center">Package<br/>version</th>
    <th>Test</th>
    <th align="center">Time ms</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th align="center">Android<br/>version</th>
    <th align="center">Ruboto<br/>platform<br/>version</th>
    <th align="center">Ruboto<br/>app<br/>version</th>
  </tr>

<% @measurements.each do |startup| %>
  <% if startup.created_at.to_date != @previous_date %>
  <% @previous_date = startup.created_at.to_date %>
          <tr>
            <td class="date" colspan="2" nowrap="true"><%= startup.created_at.strftime '%Y-%m-%d' %></td>
          </tr>
  <% end %>
  <tr>
    <td nowrap="true"><%= startup.created_at.strftime '%H:%M' %></td>
    <td><%= startup.package %></td>
    <td align="center"><%= startup.package_version %></td>
    <td nowrap="nowrap"><%= startup.test %></td>
    <td align="right" style="font-weight: bold;"><%= startup.duration %></td>
    <td><%= startup.manufacturer %></td>
    <td nowrap="true"><%= startup.model %></td>
    <td align="center"><%= startup.android_version %></td>
    <td align="center"><%= startup.ruboto_platform_version %></td>
    <td align="center"><%= startup.ruboto_app_version %></td>
  </tr>
<% end %>
</table>
