<h1>Top</h1>

<% @benchmarks.each do |benchmark| %>

    <h2>Top <%= benchmark[:name] %> (<%= benchmark[:count] %> measurements, <%= benchmark[:rows].size %> variants)</h2>

    <table width="100%">
      <tr>
        <th>Rank</th>
        <th>Time</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Android</th>
        <th>Ruboto</th>
        <th>RubotoCore</th>
        <th>Benchmark App</th>
        <th>App version</th>
      </tr>
      <% benchmark[:rows].each_with_index do |r, j| %>
          <tr>
            <td align="right"><%= j + 1 %></td>
            <td align="right" style="font-weight: bold;"><%= r[:median] %></td>
            <% r[:params].each_with_index do |f, i| %>
                <td align="<%= [0].include? i ? 'right' : 'left' %>"><%= f %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>
